<%= form_with(model: group, local: true) do |form| %>
    <h1><%= group.title %></h1>
    <div class="form-group">

      <%= form.nested_fields_for :projects do |project| %>
          <div class="form-group row">
            <div align="right" class="col-md-2">
              <b>Project Name: </b>
            </div>
            <div class="col-md-6">
              <%= project.text_field :name, placeholder: 'e.g., Final Paper', class: 'input' %>
              <%= project.remove_nested_fields_link %> <br />
            </div>
          </div>
          <div class="form-group row">
            <div align="right" class="col-md-2">
              <b>Description: </b>
            </div>
            <div class="col-md-6">
              <%= project.text_area :description, placeholder: 'optional', class: 'input' %> <br />
            </div>
          </div>
          <div class="form-group row">
            <div align="right" class="col-md-2">
              <b>Due Date: </b>
            </div>
            <div class="col-md-6">
              <%= project.text_field :due_date, class: 'date-picker date' %>
              <%= project.time_field :due_time, class: 'time' %>
            </div>
          </div>
          <br />
      <% end %>
      <%= form.add_nested_fields_link :projects, '+ Add Project' %>
    </div>
    <div align="right" class="actions">
      <%= form.submit 'Save', class: 'btn-standard' %>
    </div>
<% end %>
