<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, 'error') %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div align="center" class="col-md-8">
    <div class="form-group row">
      <div align="right" class="col-md-3">
        <%= form.label :title %>:
      </div>
      <div class="col-md-5">
        <%= form.text_field :title, id: :group_title, placeholder: 'e.g., TECM 4400', class: 'input' %>
      </div>
    </div>

    <div class="form-group row">
      <div align="right" class="col-md-3">
        <%= form.label :description %>:
      </div>
      <div class="col-md-5">
        <%= form.text_area :description, id: :group_description, placeholder: 'optional', class: 'input' %>
      </div>
    </div>

    <div align="right" class="actions">
      <%= form.submit 'Save' %>
      <%= link_to 'Back', groups_path %>
    </div>
  </div>


<% end %>
