<% hex_id = rand(1..8) %>
<% hex_code = '000000' %>

<% if hex_id == 1 %>
    <% hex_code = 'e6e6fa' %>
<% elsif hex_id == 2 %>
    <% hex_code = 'fffacd' %>
<% elsif hex_id ==  3 %>
    <% hex_code = 'afeeee' %>
<% elsif hex_id ==  4 %>
    <% hex_code = '7fffd4' %>
<% elsif hex_id ==  5 %>
    <% hex_code = 'f0e68c' %>
<% elsif hex_id ==  6 %>
    <% hex_code = 'eedd82' %>
<% elsif hex_id ==  7 %>
    <% hex_code = 'e9967a' %>
<% elsif hex_id ==  8 %>
    <% hex_code = 'ee82ee' %>
<% else %>
    <% hex_code = '999999' %>
<% end %>



<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, 'error') %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div align="center" class="col-md-8">
    <div class="form-group row">
      <div align="right" class="col-md-3">
        <lable><b>Class Name</b></lable>
      </div>
      <div class="col-md-5">
        <%= form.text_field :title, id: :group_title, placeholder: 'e.g., MATH 1500', class: 'input' %>
      </div>
    </div>

    <div class="form-group row">
      <div align="right" class="col-md-3">
        <%= form.label :description %>:
      </div>
      <div class="col-md-5">
        <%= form.text_area :description, id: :group_description, placeholder: 'optional', class: 'input' %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.nested_fields_for :teammates do |member| %>
          <div align="right" class="col-md-3">
           <label>Group Member: </label>
          </div>
          <div class="col-md-6">
            <%= member.text_field :email, placeholder: 'email', class: 'input' %>
            <%= member.remove_nested_fields_link %> <br />
          </div>
      <%end %>
      <%= form.add_nested_fields_link :teammates, '+ Add a Group Member' %>
    </div>
    <%= form.hidden_field :hex, :value => hex_code %>
    <div align="right" class="actions">
      <%= form.submit 'Save', class: 'btn-standard' %>
      <%= link_to 'Back', groups_path %>
    </div>
  </div>


<% end %>
