<div class="modal fade" id="myModal-tasks-<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: project, local: true) do |form| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel"><%= project.group.title %> - <%= project.name %></h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= form.nested_fields_for :tasks do |task| %>
              <div class="task-form">
                <div class="row">
                  <div class="col-md-11"></div>
                  <div class="col-md-1">
                    <div class="pull-right">
                      <%= task.remove_nested_fields_link %> <br />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div align="right" class="col-md-4">
                    <b>Task Name: </b>
                  </div>
                  <div class="col-md-8">
                    <%= task.text_field :name, placeholder: 'e.g., Create Outline', class: 'input' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div align="right" class="col-md-4">
                    <b>Description: </b>
                  </div>
                  <div class="col-md-8">
                    <%= task.text_area :description, placeholder: 'optional', class: 'input' %> <br />
                  </div>
                </div>
                <div class="form-group row">
                  <div align="right" class="col-md-4">
                    <b>Due Date: </b>
                  </div>
                  <div class="col-md-8">
                    <%= task.text_field :due_date, class: 'date-picker date' %>
                    <%= task.time_field :due_time, class: 'time' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div align="right" class="col-md-4">
                    <b>~ Hours of Work To Complete Task:  </b>
                  </div>
                  <div class="col-md-8">
                    <%= task.text_field :hours, class: 'input-number' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div align="right" class="col-md-4">
                    <b>Assigned To:  </b>
                  </div>
                  <div class="col-md-8">
                    <%= task.collection_select :member, @teammates, :email, :email %>
                  </div>
                </div>
              </div>
              <br/>
            <% end %>
            <%= form.add_nested_fields_link :tasks, '+ Add Task' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit 'Save', class: 'btn btn-standard' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

