<br />
<br/>
<br/>

<% blank = true %>
<% if user_signed_in? %>
<% @groups.each do |group| %>
    <% if group.user == current_user %>
        <% blank = false %>
    <% end %>
      <% for member in group.teammates %>
          <% if  member.email == current_user.email %>
                <% blank = false %>
            <% end %>
    <% end %>
<% end %>
    <% end %>

<% if !user_signed_in? %>
<div class="container-fluid">
  <div align="center">
    <img src="http://i.imgur.com/2jAvKkl.jpg" style="width: 85%" >
  </div>
</div>
<% elsif blank == true %>
    <div class="container-fluid">
      <div class="row">
      <h1 align="center">Welcome to Unity!</h1>
        <center><%= link_to 'Click here to start!', new_group_path, class: 'btn btn-primary' %> </center>
      </div>
    </div>
<% else %>

  <div class="container-fluid">

  <div class="row">

    <div class="col-md-6">
      <div id="articles">
        <h2 id="month">
          <%= link_to '<', date: @date.prev_month %>
          <%= @date.strftime('%B %Y') %>
          <%= link_to '>', date: @date.next_month %>
        </h2>

        <%= calendar @date do |date| %>
            <%= date.day %>
            <% if @projects_by_date[date] %>
                <ul>
                  <% @projects_by_date[date].each do |project| %>
                      <% show = false %>
                      <% for member in project.group.teammates %>
                          <% if  member.email == current_user.email %>
                              <% show = true %>
                          <% end %>
                      <% end %>
                      <% if project.group.user == current_user || show == true %>
                          <div style="background-color: #<%= project.group.hex%>">
                            <li class="calendar-link"><%= link_to project.name, group_path(project.group_id) %></li>
                          </div>
                      <% end %>
                  <% end %>
                </ul>
            <% end %>
            <% if @tasks_by_date[date] %>
              <ul>
                <% @tasks_by_date[date].each do |task| %>
                    <% if task.member == current_user.email %>
                        <div style="background-color: #<%= task.project.group.hex%>">
                          <li class="calendar-link"><%= link_to task.name, group_path(task.project.group_id) %></li>
                        </div>
                    <% end %>
                <% end %>
              </ul>
            <% end %>
        <% end %>
      </div>

    </div>
    <div class="col-md-3" style="border-right: 1px dotted #555;margin-top: -60px;">
      <h2><center>My Groups</center></h2>
      <br/>
      <% @groups.each do |group| %>
          <% if group.user == current_user %>
            <div class="group-box <%= group.id %>" style="background-color: #<%= group.hex%>">
              <h4><b><%= link_to group.title, group %></b></h4>
              <%= group.description %>
         
              <p style="line-height: 2;">
              <h5><%= link_to 'View', group %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
              <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></h5></p>
            </div>
          <% else %>
              <% for member in group.teammates %>
                  <% if member.email == current_user.email %>
                      <div class="group-box <%= group.id %>" style="background-color: #<%= group.hex%>">
                        <h4><b><%= link_to group.title, group %></b></h4>
                        <%= group.description %>

                        <p style="line-height: 2;">
                        <h5><%= link_to 'View', group %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                          <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></h5></p>
                      </div>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>

    <br /><h4><%= link_to '+ New Group', new_group_path %></h4>
    <p style="color: #cc0514;" id="notice"><%= notice %></p>
  </div>
  <div class="col-md-3" style="margin-top: -60px;">
    <h2><center>Upcoming Due Dates</center></h2>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <h3>Projects:</h3>
    <% @groups.each do |group| %>
        <% show = false %>
        <% for member in group.teammates %>
            <% if  member.email == current_user.email %>
                <% show = true %>
            <% end %>
        <% end %>
        <% if group.user == current_user || show == true %>
          <% for project in group.projects %>
                <% if project.due_date.present? %>
                  <% if project.due_date > DateTime.now %>
                      <div>
                        <p><b><%= project.name %></b> <font style="font-size: 12px;">(<i>Due: <%= project.due_date %> </i>)</font></p>
                        <font style="font-size: 15px;"> <%= project.description %></font></li> <br />
                      </div>
                      <br/>
                  <% end %>
                <% end %>
          <% end %>
        <% end %>
        <% show = false %>
    <% end %>
    <h3>Tasks:</h3>
    <% @groups.each do |group| %>
      <% for project in group.projects %>
          <% for task in project.tasks %>
            <% if task.member == current_user.email %>
                    <% if task.due_date.present? %>
                        <% if task.due_date > DateTime.now %>
                          <div>
                            <p><b><%= task.name %></b> <font style="font-size: 12px;">(<i>Due: <%= task.due_date %> </i>)</font></p>
                            <font style="font-size: 15px;"> <%= task.description %></font></li> <br />
                          </div>
                          <br/>
                        <% end %>
                    <% end %>
                <% end %>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div><!--closes row-->
</div>
<% end %>
