


  <h1>Home</h1>

  <div class="container-fluid">

  <div class="row">

    <div class="col-md-8"><img src="http://unitysession.jamesfoster.org/images/Empty-calendar.gif" style="width: 100%;"></div>
    <div class="col-md-2" style="border-right: 1px dotted #555;margin-top: -60px;"><h3><center>My Classes</center></h3>
      <% @groups.each do |group| %>
            <div class="group-box <%= group.id %> color-<%= (1..10).to_a.sample %>">

          <h4><b><%= link_to group.title, group %></b></h4>
          <%= group.description %>
         
           <p style="line-height: 2;">
            <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></p>
         
       </div>
    <% end %>

  <br><h4><%= link_to '+ New Class', new_group_path %></h4>

  <p id="notice"><%= notice %></p>



<br />
    
<br>
</div>
<div class="col-md-2" style="margin-top: -60px;">
  <h3><center>Upcoming Tasks</center></h3>
</div>
</div><!--closes row-->
</div>

