<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">

<p>
  <h1><%= @group.title %></h1>
</p>

<p style="font-size: 18px;">
<%= @group.description %>
</p>

<button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"><%= link_to 'Edit', edit_group_path(@group) %></button>
<button onclick="goBack()" class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px; color: #367bb5;"><a>Back</a></button>
<button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"><%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are you sure?' } %></button>

<br><br><p style="color: #cc0514;" id="notice"><%= notice %></p>


<h3>Projects</h3>

<ul>
  <% for @project in @group.projects %>
  <div style="border-top: 1px solid #aaa; width: 100%; padding-top: 10px; padding-bottom: 20px;">
      <li><h4><%= link_to @project.name, @project %> <font style="font-size: 12px;">(<i>Due: </i>)</font></h4> <font style="font-size: 15px;"> <%= @project.description %></font></li>
      <h5><%= link_to 'View', @project %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
  </div>
  <% end %>
  <div style="border-top: 1px solid #aaa; width: 100%; padding-top: 10px; padding-bottom: 20px;">
  <li><h4><%= link_to '+ Add Project', add_groups_path(@group) %></h4></li>
</div>
</ul>

</div>

<div class="col-md-8">
	aaaa
</div>
</div>
</div>

