<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">




<p>
 
  <h2>Project: &nbsp;<%= @project.name %></h2>
</p>

    <p style="font-size: 15px;">
      
      <%= @project.description %>
    </p>

    <%= form_with(model: @project, local: true) do |form| %>

    <div class="form-group">
      <h3>Add Tasks</h3>
      <%= form.nested_fields_for :tasks do |task| %>
          <b>Task Name: </b>
          <%= task.text_field :name %><br />
          <b>Description: </b>
          <%= task.text_field :description %>
          <%= task.remove_nested_fields_link %>
          <br><br>
      <% end %>
      <%= form.add_nested_fields_link :tasks %>
    </div>

    <div class="actions">

      <button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"><a><%= form.submit 'Update' %></a></button>
      <button onclick="goBack()" class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px; color: #367bb5;"><a>Back</a></button>
    </div>
<% end %>

</div>
</div>
</div>
