

      <p>
  
      </p>

<p id="notice"><%= notice %></p>

  <h1>Projects</h1>
</div>
<br />
  <% @projects.each do |project| %>
    
      <div class="project-box">
        <b>Project: </b><%= project.name %>
        <b>Description: </b><%= project.description %>
        
          <%= link_to 'Show', project %>
          <%= link_to 'Add Task', add_projects_path(project) %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>

    <% end %>
<br>

