<!DOCTYPE html>
<html>
  <head>
    <title>Unity - Communicate, Collaborate, Coordinate.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <nav class="navbar navbar-inverse" style="background-color: #fff !important; height: 100px !important; border-radius: 0px !important; border-top: 0px !important; border-left: 0px !important; border-right: 0px !important; border-bottom: 0px solid #222;">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-top: 25px;">
      <button class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#myNavbar">
        
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 

      </button>


      <div class="logo">
      <a class="navbar-brand" href="groups#index"><img src="http://unitysession.jamesfoster.org/images/newlogo.png" style="width: 200px; margin-top: -35px; position: relative; z-index: 1001; margin-left: 25px;"></a></div>



    </div><!-- closes the navbar-header -->
    
    <div class="collapse navbar-collapse collapse-nav" id="myNavbar" style="margin-top: 60px;">

      <ul class="nav navbar-nav navbar-right" style="font-size: 17px;">
        <% if user_signed_in? %>
          <li><a style="color: #222222; margin-top: -5px;" href="#"><span class="glyphicon glyphicon-user"></span> Welcome, <%= current_user.name %></a></li>
          <li><button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"><a style="color: #222222" href="/pages/home"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></button></li>
          <li><div class="dropdown"><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="border: 1px solid #555; background-color: #eee; border-radius: 5px; margin-right: 10px; width: 110px;"><a style="color: #222222" href="#"><span class="glyphicon glyphicon-folder-close"> New&nbsp;</span><span class="caret"></span></a></button>
           <ul class="dropdown-menu" style="background-color: #eee; margin-right: 10px; border: 1px solid #555; border-radius: 10px 0px 10px 10px; margin-top: -2px;">
                  <li><div style="border-bottom: 1px dotted #aaa; text-decoration: none; padding-left: 65px; padding-top: 10px; padding-bottom: 10px; color: #444 !important;"><a href="/groups/new"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Class</a></div></li>
                  <li><div style="border-bottom: 1px dotted #aaa; text-decoration: none; padding-left: 65px; padding-top: 10px; padding-bottom: 10px;"><a href="/projects/new"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Project</a></div></li>
                  <li><div style="border-bottom: 0px dotted #aaa; text-decoration: none; padding-left: 65px; padding-top: 10px; padding-bottom: 10px;"><a href="/tasks/new"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Task</a></div></li>
           </ul>
             </div>
         </li>
         <li><button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"><a style="color: #222222" href="/groups#index"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;Upload</a></button></li>
         <li><button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"><a style="color: #222222" href="/groups#index"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Chat</a></button></li>
        <!--<li><button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee;"><a style="color: #222222" href="http://unity.jamesfoster.org/index.php"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Logout</a></button></li>-->
       
          <li><button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"><%= link_to 'Profile', edit_user_registration_path %></button></li>
          <li><button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee;"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button></li>
        <% else %>
          <li><button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"><%= link_to 'Log in', new_user_session_path %></button></li>
           <li><button class="btn btn-primary" style="border: 1px solid #555; border-radius: 5px; width: 110px; background-color: #eee; margin-right: 10px;"> <%= link_to 'Sign Up', new_user_registration_path %></button></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="margin-top: 0px">
	<div class="row">
		

		<div class="col-md" style="border: 0px; background-color: #fff;">


<div class="container-fluid">

  

  <body>
    <%= yield %>
  </body>


<%# app/views/layouts/application.html.erb %>



  
</div><!-- closes the container in which the body rests -->

</div><!-- closes the col-md (the main content column)-->

</div><!-- closes the first row -->

</div><!-- closes container-fluid -->

</html>
