!!! 5
%html
%head
  %title Unity
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    %a{ :href => '/'}
      .triangle= image_tag ('http://www.jamesfoster.org/tecm4400/images/logotriangle-01.png'), class: 'triangle-size'
      .navbar-brand
        UNITY

    - if user_signed_in?
      .nav.navbar-nav.navbar-right
        .link= link_to 'New Group', new_group_path
        .link= link_to 'Profile', edit_user_registration_path
        .link= link_to 'Sign Out', destroy_user_session_path, method: :delete
    - else
      %ul.nav.navbar-nav.navbar-right
        = link_to 'Sign Up', new_user_registration_path
        = link_to 'Sign In', new_user_session_path
  
  .container-fluid
    .body
      - flash.each do |name, msg|
        = content_tag :div, msg, class: 'alert alert-info'
      = yield